# Django
django~=4.1
djangorestframework~=3.14
django-cors-headers~=3.13

# DB
psycopg2~=2.9

# Health Check
django-health-check~=3.17

# Environment
django-environ~=0.9

# Channels & Servers
channels[daphne]~=4.0
channels-redis~=4.0

# Auth
dj-rest-auth~=2.2

# Utils
shortuuid~=1.0

# Development
ipython~=8.6
django-extensions~=3.2
